<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Light</title>
  </head>
  <body style="font-family: monospace;">
    LIGHT REPOSITORY INDEX<br>
    ---------------------- <br><br>
    Welcome to the Light repository. Here you will find all the available <br>
    packages for the Light package manager. This package manager has been <br>
    universally developed for linux systems by Hurb Industries. The aim <br>
    is to finally create a genuinely universal package manager, rather than <br>
    the semi-universal attempts before now.<br> <br>
    <a href="core">CORE REPOSITORY DATABASE</a>
  </body>
</html>
